<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person list</title>
</head>

<body>
    <div align="center"><label style="color:red" th:text="${response}"></label></div>
    <table border=1px style="background-color:#eeeeee;">
        <tr style="background-color:yellow;">
            <th></th> <th>Name</th> <th>Birthdate</th> <th>Gender</th> <th>Phone</th> <th></th>
        </tr>
        <tr>
            <form id="noname" action="http://localhost:8080/spring_mvc/add">
                <td><input type="submit" value="APPEND USER"/></td>
                <td><input type="text" name="name" placeholder="Enter full name"/></td>
                <td><input type="date" name="birthdate"/></td>
                <td>
                    <label>M<input type="radio" value="male" name="gender" checked/></label>
                    <label>F<input type="radio" value="female" name="gender"/></label>
                </td>
                <td><input type="tel" name="phone" pattern="[+]{1}[7]{1}[0-9]{10}" placeholder="+79603366598"/></td>
                <td></td>
            </form>
        </tr>
        <tr><td colspan=6 align="center"><label>Person list</label></td></tr>
        <tr th:each="user : ${users}">
            <form id="user" action="http://localhost:8080/spring_mvc/update" th:attrappend="id=${user.id}">
                <td>
                    <input type="number" name="id" hidden th:attr="value=${user.id}"/>
                    <input type="submit" value="APPLY CHANGES"/>
                </td>
                <td><input type="text" name="name" th:attr="value=${user.name}"/></td>
                <td><input type="date" name="birthdate" th:attr="value=${user.birthdate}"/></td>
                <td th:switch="${user.gender.toString()}">
                    <div th:case="'MALE'">
                        <label for="rm">M<input id="rm" type="radio" value="male" name="gender" checked/></label>
                        <label for="rf">F<input id="rf" type="radio" value="female" name="gender"/></label>
                    </div>
                    <div th:case="'FEMALE'">
                        <label for="rm">M<input id="rm" type="radio" value="male" name="gender"/></label>
                        <label for="rf">F<input id="rf" type="radio" value="female" name="gender" checked/></label>
                    </div>
                </td>
                <td><input type="tel" value="+79603366598" name="phone" pattern="[+]{1}[7]{1}[0-9]{10}" th:attr="value=${user.phone}"/></td>
            </form>
            <form id="removed" action="http://localhost:8080/spring_mvc/delete" th:attrappend="id=${user.id}">
                <input type="number" name="id" hidden th:attr="value=${user.id}"/>
                <td><input type="submit" value="DELETE USER" style="color:red"/></td>
            </form>
        </tr>
    </table>
    </body>
</html>
